<h1> Aaliyah Jackson's Affectionate Jellyfish || ITIS 3135</h1>
        <nav>
            <a href="./">Home |</a>
                <a href="introduction.html">Introduction |</a>
                <a href="contract.html">Contract |</a>
                <a href="/whimsical/about.html">About My Website! |</a>
                <a href="website_evaluations.html">Website Evaluations |</a>
                <a href="/itis3135/tables.html">HTML Tables - Whimsical Company</a>
                <a href="/itis3135/byo_intro.html">BYO Intro</a>
                <a href="/project1/project_overview.html">Project Overview</a>
        
        </nav>
<br>
<br>
        <nav>
            <a href="stuff/cRAP/">Ugly Website For Fun! |</a>
            <a href="/itis3135/hobby/index.html">Hobby Webpage</a>
        </nav>